html {
    --text-font-family: -apple-system, BlinkMacSystemFont, Inter, Roboto, Helvetica, Arial, sans-serif;
    font-family: var(--text-font-family);
    background-color: rgb(243, 247, 250);
}

h1 {
    display: flex;
    justify-content: center;
}

.logo {
    width: 60px;
    height: 60px
}

#root {
    display: flex;
    justify-content: center;
}
